@import '../../config';

$expanding-button-base-class-name: 'expanding-button' !default;

$expanding-button-vertical-spacing: 1.5625rem !default;
$expanding-button-label-margin: 0.9375rem !default;
$expanding-button-image-size: 2.5rem !default;
$expanding-button-height: $expanding-button-image-size + (2 * $expanding-button-label-margin) !default;
$expanding-button-font-size: 1em !default;
$expanding-button-border-radius: auto !default;

$expanding-button-default-expected-width: 12.5rem !default;

$expanding-button-background-color: #2b2b2b !default;
$expanding-button-text-color: #fff !default;

$expanding-button-hover-background-color: #000 !default;
$expanding-button-hover-text-color: #fff !default;
