@import './config';

$transition-speed: 4/3 * 2/7; // in px/ms
$transition-base-time: 100ms;
$transition-base-function: cubic-bezier(0.44, 0.32, 0.35, 1.22);
$transition-label-function: $transition-base-function;

// Mixins

@mixin expanding-button-base ($base-class-name) {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: 700ms $transition-base-function all;
  cursor: pointer;

  #{unquote('.#{$base-class-name}__image')} {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      display: block;
      object-fit: contain;
      max-height: 100%;
      width: 100%;
      transform: rotate(0deg);
      transform-origin: 50% 50%;
    }
  }

  #{unquote('.#{$base-class-name}__label')} {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 0;
    padding-left: 0;
    opacity: 0;
    white-space: nowrap;
    transition: 700ms $transition-label-function max-width, 700ms $transition-label-function padding, 500ms $transition-label-function opacity;
  }

  &:hover #{unquote('.#{$base-class-name}__label')} {
    opacity: 1;
    transition: 500ms $transition-label-function max-width, 500ms $transition-label-function padding, 1000ms $transition-label-function opacity;
  }

  //&:hover #{unquote('.#{$base-class-name}__image')} img {
  //  transform: rotate(360deg);
  //  transition: 800ms $transition-label-function transform;
  //}
}

@mixin expanding-button-label-margin (
  $base-class-name,
  $margin: $expanding-button-label-margin
) {
  &:hover #{unquote('.#{$base-class-name}__label')} {
    padding-left: $margin;
  }
}

@mixin expanding-button-colors (
  $background-color: $expanding-button-background-color,
  $text-color: $expanding-button-text-color
) {
  background-color: $background-color;
  color: $text-color;
}

@mixin expanding-button-size (
  $base-class-name,
  $image-size: $expanding-button-image-size,
  $height: $expanding-button-height,
  $font-size: $expanding-button-font-size,
  $vertical-spacing: $expanding-button-vertical-spacing,
  $border-radius: $expanding-button-border-radius
) {
  @if ($height < $image-size) {
    @error 'Overall height can not be smaller than image size!';
  }

  $base-padding: ($height - $image-size) / 2;
  @if ($border-radius == auto) {
    $border-radius: $height / 2;
  }

  padding: $base-padding;
  font-size: $font-size;
  border-radius: $border-radius;

  #{unquote('.#{$base-class-name}__image')} {
    width: $image-size;
    height: $image-size;
  }

  &:hover {
    padding: $base-padding $vertical-spacing;
  }
}

@mixin expanding-button-expected-width (
  $base-class-name,
  $additional-selector: '',
  $expected-width: $expanding-button-default-expected-width
) {
  $calculated-expected-width: if(unit($expected-width) == 'rem', $expected-width / 1rem * 16px, $expected-width);
  $transition-500: $transition-base-time + 1ms * ($calculated-expected-width / 1px / $transition-speed);
  $transition-700: 7/5 * $transition-500;
  $transition-800: 8/5 * $transition-500;

  &#{unquote('#{$additional-selector}:hover')} #{unquote('.#{$base-class-name}__label')} {
    max-width: $expected-width;
  }

  &#{$additional-selector} {
    transition: $transition-700 linear all;
  }

  &#{$additional-selector} #{unquote('.#{$base-class-name}__label')} {
    transition: $transition-700 $transition-label-function max-width, $transition-700 $transition-label-function padding, $transition-500 $transition-label-function opacity;
  }

  &#{unquote('#{$additional-selector}:hover')} #{unquote('.#{$base-class-name}__label')} {
    transition: $transition-500 $transition-label-function max-width, $transition-500 $transition-label-function padding, $transition-800 $transition-label-function opacity;
  }
}

// Complex mixin

@mixin expanding-button (
  $base-class-name,
  $label-margin: $expanding-button-label-margin,
  $background-color: $expanding-button-background-color,
  $text-color: $expanding-button-text-color,
  $hover-background-color: $expanding-button-hover-background-color,
  $hover-text-color: $expanding-button-hover-text-color,
  $expected-width: $expanding-button-default-expected-width,
  $image-size: $expanding-button-image-size,
  $height: $expanding-button-height,
  $font-size: $expanding-button-font-size,
  $vertical-spacing: $expanding-button-vertical-spacing
) {
  @include expanding-button-base($base-class-name: $base-class-name);
  @include expanding-button-label-margin(
    $base-class-name: $base-class-name,
    $margin: $label-margin
  );
  @include expanding-button-colors(
    $background-color: $background-color,
    $text-color: $text-color
  );
  @include expanding-button-expected-width(
    $base-class-name: $base-class-name,
    $expected-width: $expected-width
  );
  @include expanding-button-size(
    $base-class-name: $base-class-name,
    $image-size: $image-size,
    $height: $height,
    $font-size: $font-size,
    $vertical-spacing: $vertical-spacing
  );

  &:hover {
    @include expanding-button-colors(
      $background-color: $hover-background-color,
      $text-color: $hover-text-color
    );
  }
}
