.app-condensed-header {
  display: flex;
  align-items: center;

  &__photo {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
    padding: 0.3rem;
    border: 0.2rem solid rgba(0, 0, 0, .1);
  }

  &__content {
    display: flex;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin: 0 auto 0 0;
      line-height: 1em;
      white-space: nowrap;

      > span {
        display: inline-block;
        padding-bottom: 0.5rem;
      }

      > small {
        font-weight: 400;
        font-size: 0.57em;
        padding-top: 0.5rem;
        border-top: 2px solid #bbb;
        display: block;
        color: #777;
      }
    }

    > :last-child {
      margin-left: auto;
    }
  }

  &__column {
    margin: 0 1rem;
    font-size: 1.125rem;
    line-height: 1.5em;

    > strong {
      display: block;
      font-size: 0.9em;

      & + span {
        color: #777;
      }
    }
  }

  &__list {
    @extend %semantic-list;

    > li {
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }

      > a {
        color: inherit;

        > svg:first-child {
          width: 1.7rem;
        }

        &:hover {
          text-decoration: none;
          color: $color-link;
        }
      }
    }
  }
}
