// Page sizing

$print-width: 21cm;
$print-height: 29.7cm;

$print-margin-left: 1.4cm;
$print-margin-top: 1cm;
$print-margin-right: 1.4cm;
$print-margin-bottom: 1cm;

$print-margin-left-virtual: $print-margin-left;
$print-margin-top-virtual: 0cm;
$print-margin-right-virtual: $print-margin-right;
$print-margin-bottom-virtual: 0cm;
