// Style processing agreements

.processing-agreement {
  text-align: center;
  font-size: 0.7rem;
  line-height: 1.2em;
  opacity: .5;
}

// Set up development simulation

html.printable-resume {
  .app > .processing-agreement {
    padding-top: 4mm;
  }
}

// Set up printing style

@media print {
  html.printable-resume {
    .app > .processing-agreement {
      position: fixed;
      bottom: 0;
      padding-top: 0;
      left: $print-margin-left-virtual;
      right: $print-margin-right-virtual;
    }
  }
}
