// Add labels to project card, based on "data-type" attribute

html.printable-resume {
  .project-card[data-type] {
    &::before {
      content: attr(data-type);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      padding: 0.2rem 0.5rem;
      padding: 0.2rem 0.5rem 0.2rem calc(0.5rem + #{$project-card-border-width});
      font-size: 0.7rem;
      background: #ddd;
      color: $project-card-text-color; // FIXME: opposite of border color
    }
  }
}
