@import './mixins';

html.printable-resume {
  .app-section-header {
    transform: none;
    border-radius: 0 1mm 1mm 0;
    box-shadow: generate-spreading-box-shadow($color: $nice-header-background-color, $step-x: -30px);

    &::before, &::after {
      display: none;
    }
  }

  .app-section-header {
    padding-left: 0;
  }

  .app-section > p {
    padding-left: 0;
    padding-right: 0;
  }
}
