.skills-matrix {
  > ul {
    @extend %semantic-list;
    display: flex;
    flex-wrap: wrap;
    margin: -0.7rem -0.7rem 0;

    > li {
      box-sizing: border-box;
      flex-basis: 33.33333%;
      padding: 0.7rem 0.7rem 0;
    }
  }
}

.skills-matrix-element {
  &__content {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;

    > .skills-matrix-element__progress {
      flex: 1 auto;
      margin-right: 0.8rem;
    }

    > figcaption {
      min-width: 7rem;
      font-weight: 600;
    }
  }

  &__progress {
    position: relative;
    border: 1px solid $color-primary;
    padding: 2px;
    font-size: 0.8rem;
  }

  &__progress-inner {
    box-sizing: border-box;
    height: 100%;
    padding: 0 4px;
    background: $color-primary;
    font-weight: 500;
    color: #fff; // primary opposite
  }

  > small {
    color: #666;
    font-size: 0.85rem;
  }
}
