@import '../config';

// Basic application content

.app-content {
  @extend %container;
  position: relative;
  background: $app-content-background-color;
  padding: $app-content-padding-vertical $app-content-padding-horizontal;
  box-shadow:
    0 0 $app-content-border-width 0 $app-content-border-color,
    $app-content-box-shadow-movement-y $app-content-box-shadow-size $app-content-box-shadow-size 0 $app-content-box-shadow-color;

}

// Set-up section margins

.app-content > .app-section,
.app-content > .highlights-list {
  margin: $app-content-section-margin 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
