@import '../config';

// Application footer

.app-footer {
  font-size: $app-footer-font-size;
  color: $app-footer-text-color;

  &__content {
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    padding: $app-footer-padding-vertical $app-footer-padding-horizontal;
  }

  &__company {
    margin-left: auto;
  }
}
