@import '../config';

@import '../../../components/photo/mixins';

// Application header

.app-header {
  display: flex;
  text-align: center;
  align-items: center;
  height: $app-header-height;
}

// Application header: my photo

.app-header__photo {
  @include photo-base;
  @include photo-frame;
  @include photo-rotate($rotation: $app-header-photo-rotation);
  @include photo-size($width: $app-header-photo-width, $height: $app-header-photo-height);
  position: absolute;
}

// Application header: text, my name & position

.app-header {
  &__text {
    flex: 1 auto;
    font-size: $app-header-font-size;
    font-weight: $app-header-font-weight;
    color: $app-header-text-color;
    line-height: $app-header-line-height;
    margin: 0;
  }

  &__name {
    position: relative;
    display: inline-block;
    font-weight: inherit;
    color: $app-header-my-name-text-color;
    margin-bottom: $app-header-my-position-font-size;

    span {
      font-size: $app-header-my-name-font-size;
      font-weight: $app-header-my-name-font-weight;
    }

    em {
      display: block;
      font-size: $app-header-my-position-font-size;
      font-weight: $app-header-my-position-font-weight;
      color: $app-header-my-position-text-color;
      position: absolute;
      left: 50%;
      bottom: -1em;
      line-height: 1em;
      transform: translateX(-50%);
      white-space: nowrap;
      font-style: normal;
    }
  }
}
