@import '../config';

// Generic application section

.app-section {
  > .app-section-header {
    margin-bottom: $app-section-header-margin;
  }

  > .projects-list,
  > .technologies-grid,
  > .highlights-list,
  > blockquote {
    margin: $app-section-element-margin 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  > p {
    padding: $app-section-paragraph-padding-vertical $app-section-paragraph-padding-horizontal;
    font-size: $app-section-paragraph-font-size;
    line-height: $app-section-paragraph-line-height;
    text-align: justify;

    .block-link {
      font-size: $app-section-paragraph-block-link-font-size;
      line-height: $app-section-paragraph-line-height;
    }
  }
}
