@import '../config';

// Performance hint:
// SVG and changing background color,
// should be separated on different layers for better performance.
// Otherwise browser will try to rasterize SVG with this background color,
// so each time color is changed, it has to rasterize SVG again.

// Calculations

$app-top-background-rest-height: $app-top-background-height - $app-top-background-empty-height;

// Background on top

.app-top-background {
  position: relative;
  height: $app-top-background-empty-height;
  background: $app-top-background-color;

  &-side-1,
  &-side-2 {
    position: absolute;
    top: 100%;
    width: 50%;
    width: calc(50% - #{$app-top-background-segment-width});
    height: $app-top-background-rest-height;
    background: $app-top-background-color;
  }

  .app-top-background-side-1 {
    left: 0;
  }

  .app-top-background-side-2 {
    right: 0;
  }
}

// App top background: stripes

.app-top-background::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: transparent url(../../../../../assets/images/bg.svg) 50% 0 repeat-y;
  background-size: $app-top-background-stripes-width auto;
  height: $app-top-background-height;
}
