@import '../config';

// Performance hint: SVG and changing background color,
// should be separated on different layers for better performance.
// Otherwise browser will try to rasterize SVG with this background color,
// so each time color is changed, it has to rasterize SVG again.

// Top navigation

.app-top-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  min-height: $app-top-navigation-height;
  font-size: $app-top-navigation-font-size;
  background: $app-top-navigation-background-color;
  transition: 300ms ease-in font, 300ms ease-in height, 300ms ease-in min-height;
  will-change: min-height, font;

  &__content {
    @extend %container;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 auto;
    z-index: 1;

    > :first-child {
      margin-right: auto;
    }
  }
}

// App top navigation: social buttons

.app-top-navigation__social {
  @extend %semantic-list;
  display: flex;

  a {
    display: block;
    text-align: center;
    color: $app-top-navigation-social-button-text-color;
    padding: $app-top-navigation-social-button-padding-vertical $app-top-navigation-social-button-padding-horizontal;

    > span {
      display: block;
      font-size: $app-top-navigation-social-button-label-font-size;
      color: $app-top-navigation-social-button-label-text-color;
    }

    &:hover {
      text-decoration: none;
      background: $app-top-navigation-social-button-hover-background-color;

      > span {
        color: $app-top-navigation-social-button-hover-label-text-color;
      }
    }
  }
}

// App top navigation: links menu

.app-top-navigation__menu {
  @extend %semantic-list;
  display: flex;

  li + li {
    margin-left: $app-top-navigation-menu-link-margin;
  }

  a {
    position: relative;
    display: block;
    padding: $app-top-navigation-menu-link-padding-vertical $app-top-navigation-menu-link-padding-horizontal;
    white-space: nowrap;
    color: $app-top-navigation-menu-link-text-color;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: $app-top-navigation-menu-link-hover-line-size;
      width: 0;
      background: $app-top-navigation-menu-link-hover-line-color;
      opacity: 0;
      transition: 600ms width ease-in, 700ms opacity ease-in;
    }

    &:hover {
      color: $app-top-navigation-menu-link-hover-text-color;
      text-decoration: none;

      &::before {
        width: 100%;
        opacity: 1;
        transition: 400ms width ease-in;
      }
    }
  }
}

// Create better style for special link

.app-top-navigation__link--special {
  a {
    background: $app-top-navigation-special-link-background-color;
    color: $app-top-navigation-special-link-text-color;
    font-weight: 500;
    border-radius: $app-top-navigation-special-link-border-radius;

    &::before {
      display: none;
    }

    &:hover {
      color: $app-top-navigation-special-link-text-color;
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, .3);
    }
  }
}

// App top navigation: stripes

.app-top-navigation::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent url(../../../../../assets/images/bg.svg) 50% 0 repeat-y;
  background-size: $app-top-navigation-background-stripes-width auto;
}

// App top navigation: after fixed positioning

.app-top-navigation--small {
  font-size: $app-top-navigation-fixed-font-size;
  min-height: $app-top-navigation-fixed-height;

  &::after {
    display: none;
  }
}
