@import './config';
@import '../links-list/mixins';

// Mixins

@mixin project-card-tweaks ($base-class-name) {
  // Tweak: smaller links list in project description
  #{unquote('.#{$base-class-name}__description')} {
    .links-list {
      @include links-list-link-style() {
        font-size: 0.85em;
      }
    }
  }
}

@mixin project-card-base ($base-class-name) {
  @include project-card-tweaks($base-class-name: $base-class-name);
  display: flex;
  position: relative;
  page-break-inside: avoid;

  #{unquote('.#{$base-class-name}__image')} {
    position: relative;
    box-sizing: border-box;
    padding-top: 0.68em; // Make it aligned with header
    text-align: center;
    line-height: 1em;

    img {
      display: block;
      box-sizing: border-box;
      max-width: 70%;
    }
  }

  #{unquote('.#{$base-class-name}__header')} {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.2em;

    > h4 {
      display: inline;
      font-family: inherit;
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: 600;
      margin: 0;
    }
  }

  #{unquote('.#{$base-class-name}__date')} {
    font-size: 0.9em;
    margin-top: 0.3em;
    line-height: 1em;
  }

  #{unquote('.#{$base-class-name}__content')} {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
  }

  #{unquote('.#{$base-class-name}__description')} {
    flex: 1 auto;
  }
}

@mixin project-card-border (
  $base-class-name,
  $width: $project-card-border-width,
  $color: $project-card-border-color
) {
  border: $width solid $color;

  #{unquote('.#{$base-class-name}__image')} {
    border-style: solid;
    border-color: $color;
    border-width: 0 $width 0 0;
  }
}

@mixin project-card-spacing (
  $base-class-name,
  $vertical-spacing: $project-card-vertical-spacing,
  $spacing: $project-card-spacing,
  $half-spacing: $project-card-half-spacing
) {
  #{unquote('.#{$base-class-name}__image')} {
    padding: $vertical-spacing $half-spacing;
    padding-top: calc(#{$vertical-spacing} + 0.68em);
  }

  #{unquote('.#{$base-class-name}__image')} + #{unquote('.#{$base-class-name}__content')} {
    padding-left: $spacing;
  }

  #{unquote('.#{$base-class-name}__header')} > h4 + span {
    white-space: nowrap;
  }

  #{unquote('.#{$base-class-name}__description')} {
    margin-top: $half-spacing;

    .links-list {
      margin-top: $half-spacing;
      margin-bottom: $half-spacing;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #{unquote('.#{$base-class-name}__content')} {
    padding: $vertical-spacing $spacing;
  }
}

@mixin project-card-image-box-width (
  $base-class-name,
  $width: $project-card-image-box-width
) {
  #{unquote('.#{$base-class-name}__image')} {
    min-width: $width;
    max-width: $width;
  }
}

@mixin project-card-image-styling (
  $base-class-name,
  $image-selector: ''
) {
  #{unquote('.#{$base-class-name}__image#{$image-selector}')} img {
    @content
  }
}

@mixin project-card-image-max-width (
  $base-class-name,
  $max-width: $project-card-image-max-width,
  $image-selector: ''
) {
  @include project-card-image-styling (
    $base-class-name: $base-class-name,
    $image-selector: $image-selector
  ) {
    max-width: $max-width;
  }
}

@mixin project-card-image-background (
  $base-class-name,
  $border-radius: $project-card-image-with-background-border-radius,
  $spacing: $project-card-image-with-background-spacing,
  $background-color: $project-card-image-with-background-color,
  $image-selector: ''
) {
  @include project-card-image-styling (
    $base-class-name: $base-class-name,
    $image-selector: $image-selector
  ) {
    background: $background-color;
    border-radius: $border-radius;
    padding: $spacing;
  }
}

@mixin project-card-colors (
  $base-class-name,
  $header-text-color: $project-card-header-text-color,
  $date-text-color: $project-card-date-text-color,
  $text-color: $project-card-text-color,
  $image-box-background-color: $project-card-image-box-background-color,
  $description-box-background-color: $project-card-description-box-background-color
) {
  background: $project-card-image-box-background-color;

  #{unquote('.#{$base-class-name}__header')} {
    color: $header-text-color;
  }

  #{unquote('.#{$base-class-name}__date')} {
    color: $date-text-color;
  }

  #{unquote('.#{$base-class-name}__content')} {
    color: $text-color;
    background: $project-card-description-box-background-color;
  }
}

@mixin project-card-vertical (
  $base-class-name,
  $vertical-spacing: $project-card-vertical-spacing,
  $image-box-height: $project-card-vertical-image-box-height,
  $image-max-width: $project-card-vertical-image-max-width,
  $image-max-height: $project-card-vertical-image-max-height,
  $border-width: $project-card-border-width
) {
  flex-direction: column;

  #{unquote('.#{$base-class-name}__image.#{$base-class-name}__image')} {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: initial;
    max-width: initial;
    height: $image-box-height;
    border-width: 0 0 $border-width;
    padding-top: $vertical-spacing;

    img {
      max-width: $image-max-width;
      max-height: $image-max-height;
    }
  }
}

@mixin project-card-horizontal (
  $base-class-name,
  $image-width: $project-card-image-box-width,
  $vertical-spacing: $project-card-vertical-spacing,
  $border-width: $project-card-border-width
) {
  flex-direction: row;

  #{unquote('.#{$base-class-name}__image.#{$base-class-name}__image')} {
    display: block;
    min-width: $image-width;
    max-width: $image-width;
    height: auto;
    border-width: 0 $border-width 0 0;
    padding-top: $vertical-spacing;
    padding-top: calc(#{$vertical-spacing} + 0.68em);

    img {
      max-width: 70%;
    }
  }
}

// Complex mixin

@mixin project-card (
  $base-class-name,
  $border-width: $project-card-border-width,
  $border-color: $project-card-border-color,
  $vertical-spacing: $project-card-vertical-spacing,
  $spacing: $project-card-spacing,
  $half-spacing: $project-card-half-spacing,
  $image-box-width: $project-card-image-box-width,
  $image-max-width: $project-card-image-max-width,
  $header-text-color: $project-card-header-text-color,
  $date-text-color: $project-card-date-text-color,
  $text-color: $project-card-text-color,
  $image-with-background-border-radius: $project-card-image-with-background-border-radius,
  $image-with-background-spacing: $project-card-image-with-background-spacing,
  $image-with-background-color: $project-card-image-with-background-color,
  $image-small-max-width: $project-card-image-small-max-width
) {
  @include project-card-base($base-class-name: $base-class-name);
  @include project-card-border(
    $base-class-name: $base-class-name,
    $width: $border-width,
    $color: $border-color
  );
  @include project-card-image-box-width(
    $base-class-name: $base-class-name,
    $width: $image-box-width
  );
  @include project-card-image-max-width(
    $base-class-name: $base-class-name,
    $max-width: $image-max-width
  );
  @include project-card-spacing(
    $base-class-name: $base-class-name,
    $vertical-spacing: $vertical-spacing,
    $spacing: $spacing,
    $half-spacing: $half-spacing
  );
  @include project-card-colors(
    $base-class-name: $base-class-name,
    $header-text-color: $header-text-color,
    $date-text-color: $date-text-color,
    $text-color: $text-color
  );

  @include project-card-image-background(
    $base-class-name: $base-class-name,
    $border-radius: $image-with-background-border-radius,
    $spacing: $image-with-background-spacing,
    $background-color: $image-with-background-color,
    $image-selector: '.#{$base-class-name}__image--opposite-background'
  );

  @include project-card-image-max-width(
    $base-class-name: $base-class-name,
    $max-width: $image-small-max-width,
    $image-selector: '.#{$base-class-name}__image--small'
  );
}
