@import '../../config';

$highlights-list-spacing: 1.25rem !default;
$highlights-list-border-width: 2px !default;
$highlights-list-border-color: #eee !default;
$highlights-list-label-font-weight: 400 !default;
$highlights-list-header-font-weight: 600 !default;
