@import '../../helpers/colorful-animation';
@import '../../helpers/combine-list';

@import './config';

@import '../../components';

// Set-up helpers

@mixin colorful ($selector, $style: (), $will-change: '', $separate-layer: false, $not-in: ()) {
  @include use-colorful-animation(
      $selector,
    $style: $style,
    $will-change: $will-change,
    $separate-layer: $separate-layer,
    $theme-selector: $colorful-theme-selector,
    $theme-paused-selector: $colorful-theme-paused-selector,
    $not-in: $not-in
  ) { @content };
}

@mixin colorful-only-style ($theme-selector: '.theme-colorful') {
  #{$theme-selector} {
    @content;
  }
}

@mixin separate-layers ($selectors...) {
  @include colorful(combine-list($selectors), $separate-layer: true);
}
