@import './config';

%container {
  box-sizing: border-box;
  width: $container-max-width;
  max-width: $container-max-width-percentage;
  margin: 0 auto;
}

%semantic-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
