@media screen {
  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #app {
    position: relative;
    background: #fff;
    margin: 0 auto;
    min-height: 29.7cm;
    padding: 1cm 1.4cm;
    width: 21cm;

    &:before, &:after {
      border-bottom: 2px solid #999;
      box-sizing: border-box;
      color: #777;
      content: "approx. PAGE END";
      font-size: 2em;
      height: 0;
      margin-top: -1px;
      padding-right: 20px;
      position: absolute;
      right: 0;
      text-align: left;
      top: 29.7cm;
      white-space: nowrap;
      width: calc(100% + 230px);
      z-index: 10;
    }

    &:after {
      content: "approx. CONTENT END";
      border-bottom-color: red;
      top: 28.7cm;
    }
  }
}
