@import '../../config';

$initials-size: 2.5em !default;
$initials-border-radius: 3px !default;
$initials-background-color: mix($color-background-light, $color-background-opposite, 90%) !default;
$initials-text-color: inherit !default;
