@import './config';

// Mixins

@mixin initials-base () {
  display: inline-block;
  text-align: center;
  margin: 0;
}

@mixin initials-border ($radius: $initials-border-radius) {
  border-radius: $radius;
}

@mixin initials-size ($size: $initials-size) {
  width: $size;
  height: $size;
  line-height: $size;
}

@mixin initials-colors (
  $background-color: $initials-background-color,
  $text-color: $initials-text-color
) {
  background: $background-color;
  color: $text-color;
}

// Complex mixin

@mixin initials (
  $size: $initials-size,
  $border-radius: $initials-border-radius,
  $background-color: $initials-background-color,
  $text-color: $initials-text-color
) {
  @include initials-base;
  @include initials-border($radius: $border-radius);
  @include initials-colors($background-color: $background-color, $text-color: $text-color);
  @include initials-size($size: $initials-size);
}
