@import '../../config';

$contacts-list-vertical-spacing: 0.6em !default;
$contacts-list-horizontal-spacing: 0.625rem !default;
$contacts-list-label-size: 8.125rem !default;
$contacts-list-link-background-color: transparent !default;
$contacts-list-link-text-color: $color-link !default;
$contacts-list-link-hover-background-color: $color-primary !default;
$contacts-list-link-hover-text-color: #fff !default;
$contacts-list-padding-vertical: 0.3125rem !default;
$contacts-list-padding-horizontal: 0.625rem !default;
