@import './config';

// Mixins

@mixin contacts-list-base () {
  margin: 0;

  > dt {
    float: left;
    clear: left;
  }

  > dd {
    margin: 0;
    padding: 0;
  }
}

@mixin contacts-list-size (
  $vertical-spacing: $contacts-list-vertical-spacing,
  $horizontal-spacing: $contacts-list-horizontal-spacing,
  $label-size: $contacts-list-label-size
) {
  > dt {
    width: $label-size;
  }

  > dd {
    margin-left: $horizontal-spacing + $label-size;
  }

  > dd {
    padding-bottom: $vertical-spacing;
  }

  > dd:last-child {
    padding-bottom: 0;
  }
}

@mixin contacts-list-link-styling (
  $background-color: $contacts-list-link-background-color,
  $text-color: $contacts-list-link-text-color,
  $link-selector: ''
) {
  > dd > a#{$link-selector} {
    text-decoration: none;
    background-color: $background-color;
    color: $text-color;
  }
}

@mixin contacts-list-link-spacing (
  $padding-vertical: $contacts-list-padding-vertical,
  $padding-horizontal: $contacts-list-padding-horizontal,
  $link-selector: ''
) {
  > dd > a#{$link-selector} {
    padding: $padding-vertical $padding-horizontal;
  }
}

// Complex mixin

@mixin contacts-list (
  $vertical-spacing: $contacts-list-vertical-spacing,
  $horizontal-spacing: $contacts-list-horizontal-spacing,
  $label-size: $contacts-list-label-size,
  $link-background-color: $contacts-list-link-background-color,
  $link-text-color: $contacts-list-link-text-color,
  $link-hover-background-color: $contacts-list-link-hover-background-color,
  $link-hover-text-color: $contacts-list-link-hover-text-color,
  $link-padding-vertical: $contacts-list-padding-vertical,
  $link-padding-horizontal: $contacts-list-padding-horizontal
) {
  @include contacts-list-base;
  @include contacts-list-size(
    $vertical-spacing: $vertical-spacing,
    $horizontal-spacing: $horizontal-spacing,
    $label-size: $label-size
  );
  @include contacts-list-link-styling(
    $background-color: $link-background-color,
    $text-color: $link-text-color
  );
  @include contacts-list-link-spacing(
    $padding-vertical: $link-padding-vertical,
    $padding-horizontal: $link-padding-horizontal
  );

  @include contacts-list-link-styling(
    $background-color: $link-hover-background-color,
    $text-color: $link-hover-text-color,
    $link-selector: ':hover'
  );
}
