@import '../../config';

//$technologies-grid-entry-selector: '> ul > li > figure' !default;
$technologies-grid-entry-selector: '.technologies-grid__entry' !default;

//$technologies-grid-is-horizontal: true !default;
//$technologies-grid-entry-size: 130px !default;
//$technologies-grid-show-label: false !default;

$technologies-grid-show-label: true !default;
$technologies-grid-is-horizontal: false !default;
$technologies-grid-entry-size: 6.25rem !default;
$technologies-grid-entry-proportions: 40 / 38 !default;
$technologies-grid-spacing: $technologies-grid-entry-size / 10 !default;

$technologies-grid-image-height: 0.64 * $technologies-grid-entry-size !default;
$technologies-grid-image-additional-sizes: (
    ('.smallish', 0.48 * $technologies-grid-entry-size),
    ('.very-smallish', 0.36 * $technologies-grid-entry-size)
) !default;

$technologies-grid-label-font-size: 0.14 * $technologies-grid-entry-size !default;
$technologies-grid-label-line-height: 1.2em !default;
$technologies-grid-label-text-color: #999 !default;

$technologies-grid-hover-label-text-color: inherit !default;
