@import '../../config';

// Generic config

$background-stripes-width: $container-max-width + 200px !default;

// Application top navigation

$app-top-navigation-background-stripes-width: $background-stripes-width !default;

$app-top-navigation-height: 100px !default;
$app-top-navigation-background-color: $color-primary !default;
$app-top-navigation-font-size: 0.95rem !default;

$app-top-navigation-fixed-font-size: 0.9rem !default;
$app-top-navigation-fixed-height: 70px !default;

$app-top-navigation-social-button-text-color: #fff !default;
$app-top-navigation-social-button-padding-horizontal: 20px !default;
$app-top-navigation-social-button-padding-vertical: 10px !default;
$app-top-navigation-social-button-label-font-size: 0.85em !default;
$app-top-navigation-social-button-label-text-color: transparentize($app-top-navigation-social-button-text-color, 0.4) !default;
$app-top-navigation-social-button-background-color: transparent !default;
$app-top-navigation-social-button-hover-label-text-color: $app-top-navigation-social-button-text-color !default;
$app-top-navigation-social-button-hover-background-color: rgba(0, 0, 0, .1) !default;

$app-top-navigation-menu-link-margin: 5px !default;
$app-top-navigation-menu-link-padding-horizontal: 20px !default;
$app-top-navigation-menu-link-padding-vertical: 10px !default;
$app-top-navigation-menu-link-text-color: #fff !default;
$app-top-navigation-menu-link-hover-text-color: $app-top-navigation-menu-link-text-color !default;
$app-top-navigation-menu-link-hover-line-size: 3px !default;
$app-top-navigation-menu-link-hover-line-color: currentColor !default;

$app-top-navigation-special-link-background-color: #fff !default;
$app-top-navigation-special-link-text-color: $color-primary !default;
$app-top-navigation-special-link-border-radius: 25px !default;

// Application top background

$app-top-background-empty-height: $app-top-navigation-height !default;
$app-top-background-height: 500px !default;
$app-top-background-color: $color-primary !default;

$app-top-background-stripes-width: $background-stripes-width !default;
$app-top-background-segment-width: $container-max-width / 2 !default;

// Application content

$app-content-background-color: $color-background-light !default;

$app-content-padding-horizontal: 1.875rem !default;
$app-content-padding-vertical: $app-content-padding-horizontal !default;

$app-content-border-width: 1px !default;
$app-content-border-color: rgba(0, 0, 0, .1) !default;

$app-content-box-shadow-movement-y: 10px !default;
$app-content-box-shadow-size: 40px !default;
$app-content-box-shadow-color: rgba(0, 0, 0, .1) !default;

$app-content-section-margin: 2.5rem !default;

// Application header

$app-header-photo-width: 162px !default;
$app-header-photo-height: 192px !default;

$app-header-height: $app-header-photo-height * 1.2 !default;
$app-header-photo-rotation: -2deg !default;

$app-header-font-size: 2.4em !default;
$app-header-font-weight: 400 !default;
$app-header-text-color: inherit !default;
$app-header-line-height: 1.8em !default;

$app-header-my-name-text-color: inherit !default;
$app-header-my-name-font-size: 1.4em !default;
$app-header-my-name-font-weight: 600 !default;
$app-header-my-position-text-color: darken($color-primary, 5%) !default;
$app-header-my-position-font-size: 0.75em !default;
$app-header-my-position-font-weight: 400 !default;

// Application section

$app-section-header-margin: 0.625rem !default;
$app-section-element-margin: 1.875rem !default;

$app-section-paragraph-font-size: 1.05rem !default;
$app-section-paragraph-line-height: $app-section-paragraph-font-size * 1.8 !default;
$app-section-paragraph-padding-horizontal: 1.875rem !default;
$app-section-paragraph-padding-vertical: 0 !default;

$app-section-paragraph-block-link-font-size: 0.8em !default;

// Application footer

$app-footer-font-size: 0.8rem !default;
$app-footer-text-color: #666 !default;
$app-footer-padding-horizontal: 0 !default;
$app-footer-padding-vertical: 1.25rem !default;
