@import '../../config';
@import '../project-card/config';

$projects-list-card-class-name: $project-card-base-class-name !default;

$projects-list-card-spacing: 1.25rem !default;
$projects-list-card-minimum-width: 17.5rem !default;

$projects-list-counter-size: 1.875rem !default;
$projects-list-counter-font-size: 0.75rem !default;

$projects-list-counter-text-color: rgba(0, 0, 0, .2) !default;
$projects-list-counter-background-color: #eee !default;
