<!doctype html>
<html lang="en" class="printable-resume">
  <head>
    <meta charset="utf-8">
    <title>Dawid Rusnak - Software Architect &amp; Web Application Specialist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">

    <script async src="https://kit.fontawesome.com/d4d86dc16d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700">
  </head>
  <body>
    <!-- Resume -->
    <div class="app">
      <!-- Resume content -->
      <div class="app-content">
        <!-- Resume header -->
        <header class="app-condensed-header">
          <img
            data-masked-image
            data-masked-attr="alt"
            class="app-condensed-header__photo"
            id="my-photo"
            src="<%= require('../assets/images/photo.jpg') %>"
            alt="Dawid Rusnak photo"
          >

          <div class="app-condensed-header__content">
            <h1>
              <span data-masked>Dawid Rusnak</span>
              <small>Full-Stack Web Developer</small>
            </h1>

            <div class="app-condensed-header__column">
              <strong>e-mail:</strong>
              <span data-masked>dawid@drcode.pl</span>
            </div>

            <div class="app-condensed-header__column">
              <strong>mobile:</strong>
              <span data-masked>+48 536 543 210</span>
            </div>

            <div class="app-condensed-header__column">
              <ul class="app-condensed-header__list">
                <li>
                  <a data-masked-attr="href" href="https://www.linkedin.com/in/dawidrusnak" target="_blank">
                    <i class="fab fa-linkedin-in"></i> <span data-masked>dawidrusnak</span>
                  </a>
                </li>

                <li>
                  <a data-masked-attr="href" href="https://github.com/rangoo94" target="_blank">
                    <i class="fab fa-github-alt"></i> <span data-masked>rangoo94</span>
                  </a>
                </li>

                <li>
                  <a data-masked-attr="href" href="callto://rangoodev" target="_blank">
                    <i class="fab fa-skype"></i> <span data-masked>rangoodev</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </header>
        <!--/ Resume header -->

        <!-- "About me" section -->
        <section class="app-section" id="section-about">
          <h2 class="app-section-header">About me</h2>

          <p>
            I&nbsp;am a <strong>full&#8209;stack developer</strong> and <strong>web architect</strong>,
            strongly focused on <strong>high&#8209;efficient</strong> web applications.
            I&nbsp;am successfully combining my <strong>knowledge from different specialities</strong>.
            Also, I love <strong>good codebase</strong>, so I&nbsp;am always trying to highly improve developer experience
            by <strong>automating work</strong> - it's much faster and makes people <strong class="very">happy</strong>,
            as they may focus on more exciting stuff.
          </p>
        </section>
        <!--/ "About me" section -->

        <!-- "Quick info" section -->
        <section class="highlights-list" id="quick-info">
          <ul>
            <li>
              <strong>10+</strong>
              years of experience
            </li>
            <li>
              <strong>30+</strong>
              big projects
            </li>
            <li>
              <strong>30+</strong>
              workshops prepared
            </li>
            <li>
              <strong>200+</strong>
              people interviewed
            </li>
          </ul>
        </section>
        <!--/ "Quick info" section -->

        <!-- "Technologies" section -->
        <section class="app-section" id="section-technologies">
          <h2 class="app-section-header">Technologies &amp; skills</h2>

          <!-- "Technologies" introduction -->
          <p id="technologies-info">
            I've been working with many technologies, methodologies and techniques, both on front&#8209;end and back&#8209;end side.
            I've got big experience with server&#8209;rendered front&#8209;end applications as well.
            I was responsible for building and advising on <strong>all stages and layers</strong> of IT systems,
            including both <strong>front-end and back-end architecture</strong>. I've got also 4+ years of experience on (mostly technical) <strong>leading</strong> positions.
          </p>
          <!--/ "Technologies" introduction -->

          <p>
            I am a <strong>fast-learner</strong>. I am trying to understand how technologies work on <strong>low-level</strong>,
            so learning a new one is much simpler. There is a lot of similarities,
            which make everything simpler to learn, when you are able to <strong>find patterns</strong>.
          </p>
        </section>
        <!--/ "Technologies" section -->

        <!-- Skills matrix -->
        <section class="skills-matrix">
          <ul>
            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 95%">
                      9.5
                    </div>
                  </div>

                  <figcaption>
                    HTML5/CSS3
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  as well as their pre- &amp; post-processors
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 95%">
                      9.5
                    </div>
                  </div>
                  <figcaption>
                    JavaScript
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  including low-level knowledge
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 95%">
                      9.5
                    </div>
                  </div>
                  <figcaption>
                    NodeJS
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  native, (micro)services, serverless
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 90%">
                      9
                    </div>
                  </div>
                  <figcaption>
                    React
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  3+ years of exp: isomorphic SPAs, plenty of libraries
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 85%">
                      8.5
                    </div>
                  </div>
                  <figcaption>
                    Redux
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  also own libs or redux-saga for side effects
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 70%">
                      7
                    </div>
                  </div>
                  <figcaption>
                    Databases
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  PostgreSQL, Redis, ElasticSearch and others
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 90%">
                      9
                    </div>
                  </div>
                  <figcaption>
                    Optimization
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  many tools and techniques, both server- &amp; client-side
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 80%">
                      8
                    </div>
                  </div>
                  <figcaption>
                    Architecture
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  both front-end and back-end
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>

            <li>
              <!-- Single skill overview -->
              <div class="skills-matrix-element">
                <figure class="skills-matrix-element__content">
                  <div class="skills-matrix-element__progress">
                    <div class="skills-matrix-element__progress-inner" style="width: 75%">
                      7.5
                    </div>
                  </div>
                  <figcaption>
                    Containers
                  </figcaption>
                </figure>

                <small class="skills-matrix-element__description">
                  Building and setting up dev &amp; production environments
                </small>
              </div>
              <!--/ Single skill overview -->
            </li>
          </ul>
        </section>
        <!--/ Skills matrix -->

        <!-- "Experience" section -->
        <section class="app-section" id="section-experience">
          <h2 class="app-section-header">Selected experience</h2>

          <!-- Experience introduction -->
          <p>
            During my career I&nbsp;have been working on hundreds of projects,
            either own, multiple projects for companies during longer cooperation,
            or&nbsp;making single projects. I've been working on open source software as well.
            Also, I made many public and closed workshops and talks.
          </p>
          <!--/ Experience introduction -->

          <!-- Experience - projects list -->
          <section class="projects-list" id="resume-experience-list">
            <ul>
              <li>
                <article class="project-card" data-type="Full-time work">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Senior Front&#8209;end Developer &amp; Technical Lead</h4> <span>@&nbsp;Talixo</span>
                    </header>

                    <div class="project-card__date">
                      <time datetime="2018-03">03.2018</time> to <time datetime="2019-02">02.2019</time>
                    </div>

                    <div class="project-card__description">
                      I was responsible for migrating front&#8209;end into a new architecture,
                      as well as improving an creating some services on back&#8209;end side.
                    </div>
                  </div>
                </article>
              </li>

              <li>
                <article class="project-card" data-type="Open source">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Talixo UI Kit</h4> - React UI Framework
                    </header>

                    <div class="project-card__date">
                      First release: <time datetime="2018-05">05.2018</time>
                    </div>

                    <div class="project-card__description">
                      Complete UI framework based on React and Sass, with good customization.
                      Has 50+ mobile&#8209;friendly components for wide use.
                    </div>
                  </div>
                </article>
              </li>

              <li>
                <article class="project-card" data-type="Full-time work">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Senior Software Developer &amp; Technical Lead</h4> <span>@&nbsp;G2A</span>
                    </header>

                    <div class="project-card__date">
                      <time datetime="2017-01">01.2017</time> to <time datetime="2017-10">10.2017</time>
                    </div>

                    <div class="project-card__description">
                      Designing and implementing new systems behind, as well as isomorphic SPAs (with high traffic).
                    </div>
                  </div>
                </article>
              </li>

              <li>
                <article class="project-card" data-type="Lecture &amp; presentation">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Node.js behind: V8 &amp; its optimizations</h4> @&nbsp;Code Europe
                    </header>

                    <div class="project-card__date">
                      <time datetime="2017-04">04.2017</time> &middot; 200+ persons
                    </div>

                    <div class="project-card__description">
                      I&nbsp;prepared a presentation about JavaScript performance on front&#8209;end and back&#8209;end,
                      mostly basing on the V8 engine.
                    </div>
                  </div>
                </article>
              </li>

              <li>
                <article class="project-card" data-type="Full-time work">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Senior Front&#8209;end Developer &amp; Tech Lead</h4> <span>@&nbsp;Grand Parade</span>
                    </header>

                    <div class="project-card__date">
                      <time datetime="2015-06">06.2015</time> to <time datetime="2016-09">09.2016</time>
                    </div>

                    <div class="project-card__description">
                      Focused on high efficient apps: optimizing performance, preparing architectures, leading and coding projects.
                    </div>
                  </div>
                </article>
              </li>

              <li>
                <article class="project-card" data-type="Lecture &amp; presentation">
                  <div class="project-card__content">
                    <header class="project-card__header">
                      <h4>Metaprogramming in JavaScript</h4> @&nbsp;CareerCon
                    </header>

                    <div class="project-card__date">
                      <time datetime="2017-09">09.2017</time> &middot; 60+ persons
                    </div>

                    <div class="project-card__description">
                      Lecture about metaprogramming in JavaScript,
                      focused on reflective programming.
                      Prepared for junior&nbsp;&amp;&nbsp;regular developers.
                    </div>
                  </div>
                </article>
              </li>
            </ul>
          </section>
          <!--/ Experience - projects list -->
        </section>
        <!--/ "Experience" section -->
      </div>
      <!--/ Resume content -->

      <!-- Processing agreement -->
      <div class="processing-agreement">
        I hereby agree for processing the following personal information strictly for the purposes of job recruitment in accordance with the regulation for the protection of personal data passed on the following day:
        29.08.97r. DzU nr 133 poz. 883.
      </div>
      <!--/ Processing agreement -->
    </div>
    <!--/ Resume -->
  </body>
</html>
